<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="description" content="">
    <meta name="author" content="">

    <title>Video Facial Recognizer</title>

    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/cover.css" rel="stylesheet">
    <link href="http://vjs.zencdn.net/6.2.8/video-js.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="masthead clearfix">
          <h3 class="masthead-brand">Video Facial Recognizer</h3>
          <ul class="nav masthead-nav">
            <li class="active">
            	<a href="#">Home</a>
            </li>

            <li class = "active">
              <a href="#">About</a>
            </li>

            <li class = "active">
              <a href="#">BoNB</a>
            </li>

            <li class="active">
            	<a href="https://github.com/kimjoe32/CS480K-Final-Project">Github</a>
            </li>
          </ul>
        </div>

        <div class = "row mainrow">
          <div class="col-md-4 col1" align="left">
            <h1 class="text-left welcome">Welcome</h1>
            <p class="text-left sub">This is a project for CS480K: Advanced Topics in Cloud Computing.
            Upload a video file, and it will return a video with demarcated faces
            Note: put a better description here</p>

            <!-- upload video -->
            <form method="post" action="/upload" class="custom-file" enctype="multipart/form-data">
              <input type="file" name="video-file" class="custom-file-input" />
              <span class="custom-file-control"></span>

              <!-- optional dropdown to specify number of cores -->
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" 
                        type="button" 
                        id="dropdownMenuButton" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                        name="number-of-cores">
                  Use all Cores
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">Use all Cores</a>
                  <a class="dropdown-item">Use one Core</a>
                </div>
              </div>

              <!-- upload button -->
              <input class="btn btn-primary upload-btn" type="submit" id="upload-btn" value="Upload">
            </form>
            <div class="messages"> 
              <p id="errorMessage"></p>
            </div>
          </div>

          <div class = "col-md-8 col2" align="center">
            <video id="my-video" class="video-js vjs-big-play-centered" controls preload="none" data-setup="{}"> 
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </video>
          </div>
          <script src="http://vjs.zencdn.net/6.2.8/video.js"></script>
        </div>

        <div class="mastfoot footer">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(function() {
        var params = {};
        $.each(window.location.search.substring(1).split('&'), function(i, pair) {
          var splitPair = pair.split('=');
          params[splitPair[0]] = splitPair[1];
        });
        if ("message" in params) {
          var msg = params.message.split("%20").join(" ")
          // console.log(msg);
          $("#errorMessage").text(msg);
          if (!msg.includes('NOT')) {
            // startPollingForProgress();
          }
          else {
            console.log("failed to start polling");
          }
        }
      });

      var numberOfCores;

      //event for number of cores dropdown option
      $('.dropdown-item').click(function() 
      {
        numberOfCores = $(this).text();
        $("#dropdownMenuButton").html(numberOfCores);
      });

      let pollingTimer = null;
      let isPolling = false;
      let currentJobId = 0;
      let currentProgress = 0;

      function startPollingForProgress() {
        isPolling = true;
        pollingTimer = setInterval(() => {
          if (isPolling == false) clearInterval(pollingTimer);
          $.ajax({
            url: "/finishedVideos/",
            success: (response) => {
              videojs("my_video").src([
                { type: response.type, src: response.src }
              ]);
            }
          });
        }, 1000);
      }
    </script>
  </body>
</html>

