
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="description" content="">
    <meta name="author" content="">

    <title>Video Facial Recognizer</title>

    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/cover.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Video Facial Recognizer</h3>
              <ul class="nav masthead-nav">
                <li class="active">
                	<a href="#">Home</a>
                </li>

                <li class="active">
                	<a href="https://github.com/kimjoe32/CS480K-Final-Project">Github</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Welcome</h1>
            <p class="lead">This is a project for CS480K: Advanced Topics in Cloud Computing.</p>
            <p class="lead">Upload a video file, and it will return a video with faces demarcated</p>
            <p class="lead">Note: put a better description here</p>
          </div>
          <div class="mastfoot">
            <div class="inner">
            </div>
          </div>

        </div>

      </div>

    </div>
    <!--<head>
		<title>Test Website</title>
		<script type="text/javascript" src="/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/bootstrap.min.css"/>
	</head> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
  </body>

</html>

